flows.json
[
    {
        "id": "abc1761e.c37fc8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33b9fa58.bf3a16",
        "type": "ui_form",
        "z": "abc1761e.c37fc8",
        "name": "Input",
        "label": "",
        "group": "115d2b6.e1de4d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Gender",
                "value": "Gender",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Married",
                "value": "Married",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Dependents",
                "value": "Dependents",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Education",
                "value": "Education",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Self Employed",
                "value": "Self_Employed",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Applicant Income",
                "value": "ApplicantIncome",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Coapplicant Income",
                "value": "CoapplicantIncome",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Loan Amount",
                "value": "LoanAmount",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Loan Term",
                "value": "Loan_Term",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Credit History Available",
                "value": "Credit_History_Available",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Housing",
                "value": "Housing",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Locality",
                "value": "Locality",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Gender": "",
            "Married": "",
            "Dependents": "",
            "Education": "",
            "Self_Employed": "",
            "ApplicantIncome": "",
            "CoapplicantIncome": "",
            "LoanAmount": "",
            "Loan_Term": "",
            "Credit_History_Available": "",
            "Housing": "",
            "Locality": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "global",
        "splitLayout": "",
        "x": 119.42863845825195,
        "y": 77.42855834960938,
        "wires": [
            [
                "bf94249.2b958d8"
            ]
        ]
    },
    {
        "id": "f3b4dd9b.9965",
        "type": "ui_text",
        "z": "abc1761e.c37fc8",
        "group": "115d2b6.e1de4d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Output",
        "label": "Fraud Risk",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 804.80029296875,
        "y": 541.2000122070312,
        "wires": []
    },
    {
        "id": "bf94249.2b958d8",
        "type": "function",
        "z": "abc1761e.c37fc8",
        "name": "Pre-token",
        "func": "global.set(\"Gender\", msg.payload.Gender)\nglobal.set(\"Married\", msg.payload.Married)\nglobal.set(\"Dependents\", msg.payload.Dependents)\nglobal.set(\"Education\", msg.payload.Education)\nglobal.set(\"Self_Employed\", msg.payload.Self_Employed)\nglobal.set(\"ApplicantIncome\", msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\", msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\", msg.payload.LoanAmount)\nglobal.set(\"Loan_Term\", msg.payload.Loan_Term)\nglobal.set(\"Credit_History_Available\", msg.payload.Credit_History_Available)\nglobal.set(\"Housing\", msg.payload.Housing)\nglobal.set(\"Locality\", msg.payload.Locality)\n\nvar apikey = \"XfSY87O3aifMDSI0RVQz_HR3Vn5HFEAlWOR098d0IzFZ\";\nmsg.headers = {\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\": \"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\": apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 208.6572265625,
        "y": 153.34286499023438,
        "wires": [
            [
                "777abbea.862584"
            ]
        ]
    },
    {
        "id": "777abbea.862584",
        "type": "http request",
        "z": "abc1761e.c37fc8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 320.9429931640625,
        "y": 232.19998168945312,
        "wires": [
            [
                "86baa7ad.5bde88"
            ]
        ]
    },
    {
        "id": "27b178b7.3dcd18",
        "type": "function",
        "z": "abc1761e.c37fc8",
        "name": "Parsing",
        "func": "msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 714.9429931640625,
        "y": 459.8571319580078,
        "wires": [
            [
                "f3b4dd9b.9965"
            ]
        ]
    },
    {
        "id": "86baa7ad.5bde88",
        "type": "function",
        "z": "abc1761e.c37fc8",
        "name": "Pre-prediction",
        "func": "var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\n\nvar token = msg.payload.access_token\nvar instance_id = \"8c3fecba-c13d-4399-8b65-9e6dc300e5dc\"\nmsg.headers = {\"Content-type\": \"application/json\", \"Authorization\": \"Bearer\" + token, \"ML-Instance-ID\": instance_id} \nmsg.payload = {\"input_data\": [{\"fields\": [\"Gender\", \"Married\", \"Dependents\", \"Education\", \"Self_Employed\", \"ApplicantIncome\", \"CoapplicantIncome\", \"LoanAmount\", \"Loan_Term\", \"Credit_History_Available\", \"Housing\", \"Locality\"], \"values\": [[Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Term, Credit_History_Available, Housing, Locality]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460.37158203125,
        "y": 305.28575134277344,
        "wires": [
            [
                "33180724.f3f928"
            ]
        ]
    },
    {
        "id": "33180724.f3f928",
        "type": "http request",
        "z": "abc1761e.c37fc8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8c3fecba-c13d-4399-8b65-9e6dc300e5dc/predictions?version=2021-03-04",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 601.6572265625,
        "y": 381.8285827636719,
        "wires": [
            [
                "27b178b7.3dcd18"
            ]
        ]
    },
    {
        "id": "115d2b6.e1de4d5",
        "type": "ui_group",
        "name": "Credit Card Fraud Prediction",
        "tab": "5c87dc07.8b9184",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5c87dc07.8b9184",
        "type": "ui_tab",
        "name": "Credit Card Fraud Prediction",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]